:root {
	--primary-color: #14103b;
	--secundary-color:  #6789ba;
	--highlight-color: #f02a71;
	--light-color: #7ec0e4;
	--font-size: 1.8rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-size: var(--font-size);
	background: var(--primary-color);
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	/* background: linear-gradient(to bottom, var(--secundary-color), var(--primary-color)); */
	background: var(--primary-color);
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.navbar__contenedor-part1 {
	font-family: 'Bangers', cursive;
}

.navbar a {
	color: var(--light-color);
	display: inline-block;
	padding: 10px;
	width: 100%;
	transition: .3s ease-out all;
	text-align: center;
}

.navbar .navbar__contenedor-logo {
	color: var(--primary-color);
	align-self: center;
}

.navbar .navbar__contenedor-part1 {
	color: var(--highlight-color);
	font-family: 'Bangers', cursive;
}

.navbar .navbar__contenedor-part2 {
	color: var(--light-color);
}

.navbar .navbar__contenedor-contact {
	color: var(--highlight-color);
}

.navbar a:hover {
	background: var(--highlight-color);
	color: var(--light-color);
	text-decoration: none;
}

.navbar .navbar__contenedor-logo a:hover {
	background-color: var(--secundary-color);
}

.navbar__contenedor {
	max-width: 1000px;
	width: 50%;
	margin-left: auto;
	display: flex;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
  display: grid;
	grid-template-columns: 8% 0.5fr 1fr 1fr;
  grid-template-rows: 25% 1fr 10% 30%;
  gap: 5px;
  height: 100vh;	
}

.contenedor-imagen .contenedor-link-imagen {
	grid-column: 1 / 5;
	grid-row: 1 / 5;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 50%;
}

.contenedor-imagen div {
	padding: 5px;
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	align-self: center;
	background-color: rgba(0, 0, 127, 50%);
	border-radius: 5px;
	color: var(--light-color);
}

.contenedor-imagen h2 span {
	/* color: var(--highlight-color); */
}

.contenedor-imagen h1 {
	font-size: 4rem;
}

.contenedor-imagen h1 span {
	background-color: var(--highlight-color);
	color: var(--light-color);
	padding: 0 3px;
}

.contenedor-imagen h3 {
	color: var(--secundary-color);
}

.contenedor-imagen .contenedor-imagen-boton {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	border: 1px solid var(--primary-color);
	padding: 10px;
	border-radius: 5px;
	color: var(--primary-color);
	align-self: flex-start;
	justify-self: flex-start;
	text-decoration: none;
}

/* * ============================== */
/* * =========== ABOUT ============ */
/* * ============================== */

.about {
}

.about div {
	height: 100vh;
	background-image: url('./Assets/about-ing-gustavo-gonzalez-medium.jpg');
	background-size: cover;
	background-position-y: bottom;
	background-repeat: no-repeat;
	padding: 5% 5% 10% 40%;
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

.about p {
	color: var(--light-color);
	background-color: rgba(0, 0, 0, 30%);
	font-size: 1.6rem;
	padding: 5px;
	border-radius: 5px;
}

.about span {
	color: var(--highlight-color);
}

.about img {
	position: relative;
}
/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

.main__contenedor {
	max-width: 1000px;
	width: 50%;
	margin: auto;
	display: flex;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: var(--light-color);
}

main .contenido .titulo {
	font-weight: normal;
	padding-top: 40px;
}

.titulo {
	color: var(--light-color);
}

main .contenido {
	font-size: 1.4rem;
	color: var(--light-color);
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: var(--light-color);
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
}

aside .titulo {
	font-weight: normal;
	font-size: 2.4rem;
	margin-bottom: 20px;
	color: var(--highlight-color);
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: var(--secundary-color);
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */

footer .navbar {
	position: sticky;
	bottom: 0;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 960px){
	.navbar .navbar__contenedor {
		width: auto;
		justify-content: flex-start;
	}

	.navbar {
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.navbar .navbar__contenedor {
		justify-content: center;
	}

	.navbar .navbar__contenedor-logo .navbar__contenedor-part2 {
		display: none;
	}

	.contenedor-imagen {
		height: 65vh;
		grid-template-columns: 2% 0.5fr 1fr 2%;
		grid-template-rows: 2% 1fr 2% 10%;
	}

	main .main__contenedor {
		flex-direction: column;
		width: 90%;
	}

	aside {
		width: 70%;
		position: static;
		margin: 40px 0 0 0;
	}

	.about div {
		height: 60vh;
		background-image: url('./Assets/about-ing-gustavo-gonzalez-small.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding: 2% 1% 2% 50%;
		display: flex;
		align-items: center;
	}
}