:root {
	--primary-color: #083358;
	--secundary-color:  #0f4471;
	--highlight-color: #fc3c3c;
	--light-color: #f6f6f6;
	--font-size: 1.6rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: 'Noto Sans JP', sans-serif;	
	font-size: var(--font-size);
	background: var(--primary-color);
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: var(--light-color);
	position: sticky;
	top: 0;
}

.navbar a {
	color: var(--primary-color);
	display: inline-block;
	padding: 10px;
	width: 100%;
	text-align: center;
	transition: .3s ease-out all;
}

.navbar .navbar__contenedor-contact {
	color: var(--highlight-color);
}

.navbar a:hover {
	background: var(--highlight-color);
	color: var(--light-color);
	text-decoration: none;
}

.navbar__contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.contenedor-imagen {
	height: 100vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}

/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

main .contenido p {
	margin-bottom: 20px;
	line-height: 30px;
	color: var(--light-color);
}

main .contenido .titulo {
	font-weight: normal;
	padding-top: 40px;
}

.titulo {
	color: var(--light-color);
}

main .contenido {
	font-size: 1.4rem;
	color: var(--light-color);
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 30%;
	margin: 40px 20px 20px 0;
	height: 100%;
	background: var(--light-color);
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--highlight-color);
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: var(--secundary-color);
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */

footer .navbar {
	position: sticky;
	bottom: 0;
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .navbar__contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .navbar__contenedor {
		flex-direction: column;
	}

	aside {
		position: static;
		margin: 40px 0 0 0;
	}
}