:root {
	--primary-color: #14103b;
	--secundary-color:  #6789ba;
	--highlight-color: #f02a71;
	--light-color: #7ec0e4;
	--font-size: 1.8rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	width: 100vw;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
	width: 100vw;
	font-size: var(--font-size);
	background: var(--primary-color);
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	/* background: linear-gradient(to bottom, var(--secundary-color), var(--primary-color)); */
	background: var(--primary-color);
	position: sticky;
	top: 0;
	display: flex;
	height: 5vh;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}

.navbar__logo-part1 {
	font-family: 'Bangers', cursive;
}

.navbar a {
	color: var(--light-color);
	display: inline-block;
	width: 100%;
	margin: auto 0;
	transition: .5s ease-out all;
	text-align: center;
}

.navbar .navbar__logo {
	color: var(--primary-color);
	align-self: center;
}

.navbar .navbar__logo-part1 {
	color: var(--highlight-color);
	font-family: 'Bangers', cursive;
}

.navbar .navbar__logo-part2 {
	color: var(--light-color);
}

.navbar .navbar__menu-contact {
	color: var(--highlight-color);
}

.navbar a:hover {
	background: var(--highlight-color);
	color: var(--light-color);
	text-decoration: none;
}

.navbar .navbar__logo a:hover {
	background-color: var(--secundary-color);
}

.navbar__menu {
	max-width: 1000px;
	width: 50%;
	display: flex;
}

/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

.cover {
  display: grid;
	grid-template-columns: 40% 1.5fr 10%;
  grid-template-rows: 25% 1fr 30%;
  gap: 5px;
  height: 95vh;	
}

.cover .cover__picture {
	grid-column: 1 / 4;
	grid-row: 1 / 4;
	background-image: url("./Assets/about-ing-gustavo-gonzalez-color-big.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.cover img {
	height: 100vh;
	width: 100vw;
	vertical-align: bottom;
	object-fit: cover;
	object-position: 0 50%;
}

.cover .cover__desc {
	padding: 5px;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	align-self: center;
	background-color: rgba(21, 20, 49, 80%);
	border-radius: 5px;
	color: var(--light-color);
}

.cover .cover__desc-engineer {
	font-size: 4rem;
}

.cover .cover__desc-engineer span {
	background-color: var(--highlight-color);
	color: var(--light-color);
	padding: 0 3px;
}

.cover .cover__desc-about {
	color: var(--secundary-color);
}

.cover .cover-boton {
	border: 1px solid var(--secundary-color);
	margin-top: 10px;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	color: var(--secundary-color);
	align-self: flex-start;
	text-decoration: none;
}

/* * ============================== */
/* * =========== ABOUT ============ */
/* * ============================== */

.about div {
	height: 100vh;
	/* background-image: url('./Assets/about-ing-gustavo-gonzalez-medium.jpg'); */
	background-image: url('./Assets/about-ing-gustavo-gonzalez-color-big.jpg');
	background-size: cover;
	background-position-y: bottom;
	background-repeat: no-repeat;
	padding: 5% 5% 10% 40%;
	display: flex;
	flex-direction: column;	
	justify-content: center;
}

.about p {
	color: var(--light-color);
	background-color: rgba(0, 0, 0, 30%);
	font-size: 1.6rem;
	padding: 5px;
	border-radius: 5px;
	line-height: 2.5rem;
}

.about span {
	color: var(--highlight-color);
}

.about img {
	position: relative;
}
/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}

.work {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	display: flex;
}

.work-content {
	font-size: 1.6rem;
	color: var(--light-color);
	width: 100%;
	overflow: scroll;
	position: relative;
}

.work-post {
	width: 100%;
	overflow: scroll;
	padding: 0 10px;
	position: relative;
}

.work-post__container {
	white-space: nowrap;
	margin: 20px 0;
}

.work-post__item {
	display: inline-block;
	overflow: hidden;
	margin-right: 10px;
	vertical-align: top;
}

.work-post__container:hover .work-picture_img:hover {
	transform: scale(1.4);
	transition: .5s ease-out all;
}

.work-post__container:hover .work-picture_img {
	transform: scale(1);
	transition: .5s ease-out all;
}

.work-desc {
	white-space: normal;
	width: 40vw;
}	

.work-picture .work-picture_img {
	height: 30vw;
	border-radius: 20px;
}	

.work-content .work-desc__title {
	font-weight: normal;
}

.work-content .work-desc__subtitle {
	margin-top: 10px;
	color: var(--secundary-color);
	font-size: 1.6rem;
}	

.work-content p {
	margin-top: 10px;
	line-height: 2.5rem;
	color: var(--light-color);
}	

.work-content p span {
	color: var(--highlight-color);
}

.work-content .work-desk-slide {
	padding: 1.8rem 0;
	color: yellow;
}

/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
	min-width: 20%;
	margin: 40px 20px 20px 20px;
	height: 100%;
	background: var(--light-color);
	padding: 20px;
	border-radius: 3px;
	position: sticky;
	top: 20px;
}

aside .work-index-title {
	font-weight: normal;
	font-size: 2.4rem;
	margin-bottom: 20px;
	color: var(--highlight-color);
}

aside .work-index-nav a {
	display: block;
	margin-bottom: 10px;
	color: var(--primary-color);
}

aside.work-index-title {
	color: var(--light-color);
}

/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */

footer .navbar {
	position: sticky;
	bottom: 0;
}

/* * ============================== */
/* * ========== WEBKIT ============ */
/* * ============================== */

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar {
	width: 0px;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar:hover {
	background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active {
  background: rgba(255, 255, 255, 0.3);
}

/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 960px){
	.navbar .navbar__menu {
		width: auto;
		justify-content: flex-start;
	}

	.navbar {
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.navbar .navbar__menu {
		justify-content: center;
	}

	.navbar .navbar__logo .navbar__logo-part2 {
		display: none;
	}

	.cover {
		height: 65vh;
		grid-template-columns: 2% 0.5fr 1fr 2%;
		grid-template-rows: 2% 1fr 2% 10%;
	}

	main .work {
		flex-direction: column;
		width: 90%;
	}

	aside {
		width: 70%;
		position: static;
		margin: 40px 0 0 0;
	}

	.about div {
		height: 60vh;
		background-image: url('./Assets/about-ing-gustavo-gonzalez-color-small.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		padding: 2% 1% 2% 50%;
		display: flex;
		align-items: center;
	}
}